// Colors
// ------------------------------

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

// Base
// ------------------------------

$font-family-yahei:               "微软雅黑", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif:          "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
$font-family-light-sans-serif:    "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;
$font-family-serif:               serif !default;
$font-family-monospace:           monospace !default;

$font-family-base:                $font-family-yahei !default;
$font-size-base:                  14px !default;
$font-size-large:                 18px !default;
$font-size-small:                 11px !default;

// Buttons
// ------------------------------

$button-color:                    #222 !default;
$button-block-margin:             10px !default;
$button-clear-padding:            6px !default;
$button-border-radius:            2px !default;
$button-border-width:             1px !default;

$button-font-size:                16px !default;
$button-height:                   42px !default;
$button-padding:                  12px !default;
$button-icon-size:                24px !default;

$button-large-font-size:          20px !default;
$button-large-height:             54px !default;
$button-large-padding:            16px !default;
$button-large-icon-size:          32px !default;

$button-small-font-size:          12px !default;
$button-small-height:             28px !default;
$button-small-padding:            4px !default;
$button-small-icon-size:          16px !default;

$button-bar-button-font-size:     13px !default;
$button-bar-button-height:        32px !default;
$button-bar-button-padding:       8px !default;
$button-bar-button-icon-size:     20px !default;

$button-light-bg:                 $light !default;
$button-light-text:               #444 !default;
$button-light-border:             #ddd !default;
$button-light-active-bg:          #fafafa !default;
$button-light-active-border:      #ccc !default;


